html, body{
    margin: 0;
    padding: 0;
    font-family: "Roboto";
}

body{
    display: flex;
    flex-direction: column;
    justify-content:space-between
}


.header{
    padding: 25px;
    display: flex;
    justify-content: space-between;
    background-color: #4A3267;
}

.header .right-side ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.header-link{
    text-decoration: none;
    color: #F3D9E5;
    padding: 10px;
}

.header .right-side ul li{
    padding: 5px;
    border-radius: 4px 4px 0 0;
    transition: transform .3s, box-shadow .3s, background .3s;
}

.header .right-side ul li:hover{
    transform: scale(1.03);
    box-shadow: inset 0 -2px 0 0 #F7B9C4; 
    background: #f3d9e534;
    
}
.header .right-side ul li:active{
    transform: scale(1);
    transition: transform .1s;
}



/* .header-link{
    text-decoration: none;
    box-shadow: inset  0 1px 0 0 #00000000; 
    color: #F3D9E5;
    transition: box-shadow .5s ease, color .3s, background .3s ease-in-out;
    padding: 10px;
    border-radius: 5px 5px 0 0;
}
*/


/*.header-link:hover{
    box-shadow: inset 0 -3px 0 0 #F7B9C4; 
    background: #bcbbdf31; 
    color: #F7B9C4;
}

*/



.hero{
    padding: 50px;
    background-color: #4A3267;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero .left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.hero .left h1{
    color: #F3D9E5;
}

.hero .left p{
    color: #C6BADE;
}

.button-placeholder{
    padding: 10px 25px 10px 25px;
    background-color: #F7B9C4;
    align-self:flex-start;
    cursor: pointer;
    border-radius: 7px;
}

.hero .right{
    display: flex;
    justify-content: center;
    
}

.hero .right img{
    width: 80%;
}

.squares-section{
    display: flex;
    flex-direction: column;
    width: 100%;
}

#squares-section{
    align-items: center;
}

.squares-section .upper{
    margin: 25px;
}

.squares-section .lower{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.square{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
}

.square .square-img{
    width: 250px;
    height: 250px;
    object-fit: cover;
    
    
}

.square .square-img img{
    width: 100%;
    height: 100%;
    border: 2px solid #F7B9C4;
    border-radius: 10px;
}

.square .square-txt{
    width: 80%;
    text-align: center;
}
